DB_HOST=db.dlegkgodwdnrkarnpyht.supabase.co
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=YOUR_DATABASE_PASSWORD
DATABASE_URL=postgresql://postgres:YOUR_DATABASE_PASSWORD@db.dlegkgodwdnrkarnpyht.supabase.co:5432/postgres
jwt_secret=ce522d77-cc6d-4599-b64a-90b98ffd001c
admin_pin=0390
